# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj

# OAuth tokens
.httr-oauth

# knitr and R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# Compiled C++ files
*.o
*.so
*.dll

# Stan cache
*.rds
